/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/fonts
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.env.dusk.local
.env.testing
.env.default-testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
*.swp
*.swo
composer.phar
.DS_Store?
*.DS_Store
**/.DS_Store
storage/app/events
storage/media-library
.php-cs-fixer.cache
out.ts
